<div class="list_container">
  <div class="list-header">
    <span class="list-header_text">{{shoppingList.listTitle}}</span>
  </div>
  <div class="list-body">
    <ul class="list">
      <li 
        class="list-items" 
        *ngFor="let item of shoppingList['listItems'] , let i=index"
        (click)="onItemClick(i)"
        [ngClass]="{'itemDone':item.buyStatus}">
        {{item.name}}
      </li>
    </ul>  
    <div class="add-item">
      <input  class="add-item_textfield" type="text" #newItem>
      <button class="add-button" (click)="onAdd(newItem.value)">add</button>
    </div> 
  </div>
</div>